// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pert-primary: mat-palette($mat-indigo);
$pert-accent: mat-palette($mat-pink, a200, a100, a400);

// The warn palette is optional (defaults to red).
$pert-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$pert-theme: mat-light-theme(
  (
    color: (
      primary: $pert-primary,
      accent: $pert-accent,
      warn: $pert-warn
    )
  )
);

body [class^='mat-'],
body [class*=' mat-'] {
  font-family: 'Rajdhani', sans-serif;
}

body .material-icons {
  font-family: 'Material Icons';
}

@include angular-material-theme($pert-theme);
