:root {
  --primary-color: #251d46;
  --secondary-color: #5c9dd4;
  --light-background: white;
  --light-background2: whitesmoke;
  --primary-border: 1px black solid;
  --light-border-color: gainsboro;
  --selected: #b4d5fe;
}
